@use './abstracts' as *;

// Styles for the FAQ Component

.container{

    @media screen and (max-width: 450px) {
        margin: 3rem 0;
            
        }

.pop-up {
    display: flex;
    margin-top: 50px;
    background: linear-gradient(90deg, #EA002A 0%, #193D8A 100%);
    justify-content: center;
    align-items: center;
    border-radius:5px;
    position: absolute;
    z-index: 10;
    left: 0;
    bottom: -210px;

   
    &.mobile {
        width: calc(100% - 32px);
        max-width: 450px;
        padding: 25px 16px;
        left: 20px;
    }
    &.desktop {
        width: 100%;
        padding: 2.5rem 1.5rem;
    }
    @media screen and (max-width: 765px) {
        bottom: -250px;
            padding-bottom:20px ;
        }
    @media screen and (max-width: 450px) {
        bottom: -340px;
            
        }
}


    .content{
        padding: 2.5rem 1.5rem  ;
        @media screen and (max-width: 450px) {
            padding: 1.5rem 1rem;                
            }
    
        .fs{
            font-size: 1.5rem;
        }
    }
    

.pop-up-button {
    display: inline-block;

    padding: 0.5rem 1.5rem;
    border: 2px solid $white;
    background-color: transparent;
    height:100%  ;
    color: $white;
    border-radius: 6px;
    transition: all 0.2s ease-in-out;
    margin-right: 40px ;
  }
}

//   Helpers
.headline {
    font-family: axiforma-x-bold,sans-serif;
    font-size: .87em;
    color: #01377a;
    position: relative;
}
.fs-2hx {
    font-size: calc(1.375rem + 1.5vw)!important;
    font-weight: 600;
}
.faqsection{
    display: flex;
    position: relative;
    justify-content: center;
}
.modal-content{
    background-color: transparent;
    border: none;
}
.modal-size{
    margin: 0 auto;
    background-color: white;
    width: 50%;
    border-radius: 20px 20px 0 0;

    @media screen and (max-width: 450px) {
        width: 90%;
    }
}